:root{
    background-color: #272727;
    color: #9a9a9a;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    margin: 7px;
    
    background-color: #272727;
    color: #9a9a9a;
    box-shadow: -2px -2px 3px rgb(92, 92, 92), 2px 2px 3px rgb(12, 12, 12);

    transition: filter 0.1s;

    padding: 5px 10px;
    border: solid 1.5px;
    border-color: #00000000;
    border-radius: 17px;
}
p {
    line-height: 1px;
    font-size: 10pt;
}
button:hover {
    filter: brightness(120%);
}
button:active {
    box-shadow: -1px -1px 3px inset rgb(92, 92, 92), inset 1px 1px 3px rgb(12, 12, 12);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #757575;
}

::-webkit-scrollbar-track {
    background-color: #252525;
}

.pop-out {
    box-shadow: -2px -2px 7px rgb(92, 92, 92), 2px 2px 7px rgb(12, 12, 12);
    border-radius: 5px;
}

.pop-in {
    box-shadow: -2px -2px 5px inset rgb(92, 92, 92), 2px 2px 5px inset rgb(12, 12, 12);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.card{
    width: 100%;
    height: 100%;

    background-color: #343434;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(23, 23, 23);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.list-container {
    overflow-y: auto;
}

.list-item {
    border-bottom: solid 1px #282828;
    padding: 15px;
    display: flex;
}

.pin-bottom{
    margin-top: auto;
}
.pin-left{
    position: absolute;
    left: 0px;
}
.pin-right{
    position: absolute;
    right: 0px;
}


.card-title{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    border-bottom: solid 1px #282828;
}

.card-content{
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-splitter{
    padding: 5px;
}

.primary{
    line-height: 15px;
    font-size: 80pt;
    font-weight: bold;
}

.secondary{
    line-height: 40px;
    font-size: 20pt;
    font-weight: bold;
}

.drawer-button{
    height: 20px;
    width: 100%;
    margin: 0;
    background: transparent;
    box-shadow: none;
}

.drawer-button:active{
    box-shadow: none;
}

.drawer {
    width: calc(100% - 15px);
    margin: 10px;
}